@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #050505;
  --foreground: #ffffff;

  --primary: #a82ffc;
  --primary-foreground: #ffffff;

  --border: #27272a;
  --radius: 0.2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), 'JetBrains Mono', monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}