@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #050505;
  --foreground: #ffffff;

  /* Sistema */
  --system: #7c3aed; 
  --system-border: #4c1d95; 
  --system-foreground: #ffffff;

  /* Trabalho */
  --work: #ea580c; 
  --work-foreground: #ffffff;

  /* Estudo */
  --study: #2563eb; 
  --study-foreground: #ffffff;

  /* Default system theme */
  --primary: var(--system);
  --primary-foreground: var(--system-foreground);

  /* Flat design rules */
  --border: #27272a;
  --radius: 0.1;
}

.theme-work {
  --primary: var(--work);
  --primary-foreground: var(--work-foreground);
}

.theme-study {
  --primary: var(--study);
  --primary-foreground: var(--study-foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), 'JetBrains Mono', monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}